{% extends 'base.html' %}
{% load static %}
{% block title %}Dessert{% endblock %}

{% block content %}
<div class="pancake">
    <img src="{% static 'res.jpg' %}" alt="Coffee Cup">
    <div class="overlay-text">
        <h1>Dining</h1>
        <p style="color:yellow;font-weight:bold">Available after 11am only</p>
    </div>
    </div>
</div>
<div class="grid-container" style="background-image: url('{% static 'back.jpg' %}');">
    <div class="iceCreamu" id="ice-cream-menu" >
        <div class="header-container">
            <h3 style="color: white;">Ice-Cream</h3>
        </div>
        <div class="grid-container-menu">
            <div class="grid-item-menu">
                <img src="{% static 'ice-cream/vanila.jpg' %}" alt="Vanilla Ice-Cream">
                <span class="tooltip-icon" title="Ingredients:Milk, cream, sugar, vanilla flavoring"><img src="{% static 'i.png' %}" alt="Coffee Cup"></span>
                <div class="item-detail">
                    <div class="description">
                        <div class="item-name">
                            <p>Vanilla Ice-cream </p>
                        </div>
                        <div class="price">
                            $3.50
                        </div>
                    </div>
                    <div class="buy">
                        Buy
                    </div>
                </div>
            </div>
            <div class="grid-item-menu">
                <img src="{% static 'ice-cream/choc.jpg' %}" alt="choc Ice-Cream">
                <span class="tooltip-icon" title="Ingredients:Milk, cream, sugar, Chocolate flavoring"><img src="{% static 'i.png' %}" alt="Coffee Cup"></span>
                <div class="item-detail">
                    <div class="description">
                        <div class="item-name">
                            <p>Chocolate Ice-cream </p>
                        </div>
                        <div class="price">
                            $3.50
                        </div>
                    </div>
                    <div class="buy">
                        Buy
                    </div>
                </div>
            </div>
            <div class="grid-item-menu">
                <img src="{% static 'ice-cream/ButterScotch-Waffle-IceCream_Scoop.jpg' %}" alt="Waffle Ice-Cream">
                <span class="tooltip-icon" title="Ingredients:Milk, cream, sugar, vanilla flavoring,Waffle"><img src="{% static 'i.png' %}" alt="Coffee Cup"></span>
                <div class="item-detail">
                    <div class="description">
                        <div class="item-name">
                            <p>Butterscotch in cone </p>
                        </div>
                        <div class="price">
                            $6.50
                        </div>
                    </div>
                    <div class="buy">
                        Buy
                    </div>
                </div>
            </div>
            <div class="grid-item-menu">
                <img src="{% static 'ice-cream/Coconut.jpg' %}" alt="Waffle Ice-Cream">
                <span class="tooltip-icon" title="Ingredients:Milk, cream, sugar, coconut flavoring,coconut"><img src="{% static 'i.png' %}" alt="Coffee Cup"></span>
                <div class="item-detail">
                    <div class="description">
                        <div class="item-name">
                            <p>Coconut Ice-cream </p>
                        </div>
                        <div class="price">
                            $4.50
                        </div>
                    </div>
                    <div class="buy">
                        Buy
                    </div>
                </div>
            </div>
            <div class="grid-item-menu">
                <img src="{% static 'ice-cream/mint-choc.jpg' %}" alt="Waffle Ice-Cream">
                <span class="tooltip-icon" title="Ingredients:Milk, cream, sugar, vanilla flavoring,Waffle"><img src="{% static 'i.png' %}" alt="Coffee Cup"></span>
                <div class="item-detail">
                    <div class="description">
                        <div class="item-name">
                            <p>Mint chocolate chip </p>
                        </div>
                        <div class="price">
                            $6.50
                        </div>
                    </div>
                    <div class="buy">
                        Buy
                    </div>
                </div>
            </div>
            <div class="grid-item-menu">
                <img src="{% static 'ice-cream/gelato.jpg' %}" alt="Gelato Ice-Cream">
                <span class="tooltip-icon" title="Ingredients:Milk, cream, sugar, vanilla flavoring,Waffle"><img src="{% static 'i.png' %}" alt="Coffee Cup"></span>
                <div class="item-detail">
                    <div class="description">
                        <div class="item-name">
                            <p>Gelato </p>
                        </div>
                        <div class="price">
                            $6.50
                        </div>
                    </div>
                    <div class="buy">
                        Buy
                    </div>
                </div>
            </div>
            <div class="grid-item-menu">
                <img src="{% static 'ice-cream/roll.jpg' %}" alt="Waffle Ice-Cream">
                <span class="tooltip-icon" title="Ingredients:Milk, cream, sugar, vanilla flavoring,Waffle"><img src="{% static 'i.png' %}" alt="Coffee Cup"></span>
                <div class="item-detail">
                    <div class="description">
                        <div class="item-name">
                            <p>Roll ice-cream </p>
                        </div>
                        <div class="price">
                            $6.50
                        </div>
                    </div>
                    <div class="buy">
                        Buy
                    </div>
                </div>
            </div>
            <div class="grid-item-menu">
                <img src="{% static 'ice-cream/ss.jpg' %}" alt="softserve">
                <span class="tooltip-icon" title="Ingredients:Milk, cream, sugar, vanilla flavoring,Waffle"><img src="{% static 'i.png' %}" alt="Coffee Cup"></span>
                <div class="item-detail">
                    <div class="description">
                        <div class="item-name">
                            <p>Soft Serve </p>
                        </div>
                        <div class="price">
                            $1.50
                        </div>
                    </div>
                    <div class="buy">
                        Buy
                    </div>
                </div>
            </div>
            <div class="grid-item-menu">
                <img src="{% static 'ice-cream/boat.jpg' %}" alt="Waffle Ice-Cream">
                <span class="tooltip-icon" title="Ingredients:Milk, cream, sugar, vanilla flavoring,Waffle"><img src="{% static 'i.png' %}" alt="Coffee Cup"></span>
                <div class="item-detail">
                    <div class="description">
                        <div class="item-name">
                            <p>Boat </p>
                        </div>
                        <div class="price">
                            $10.50
                        </div>
                    </div>
                    <div class="buy">
                        Buy
                    </div>
                </div>
            </div>
            <div class="grid-item-menu">
                <img src="{% static 'ice-cream/flavor.jpg' %}" alt="Waffle Ice-Cream">
                <span class="tooltip-icon" title="Ingredients:Milk, cream, sugar, vanilla flavoring,Waffle"><img src="{% static 'i.png' %}" alt="Coffee Cup"></span>
                <div class="item-detail">
                    <div class="description">
                        <div class="item-name">
                            <p>Others flavour </p>
                        </div>
                        <div class="price">
                            $3.50
                        </div>
                    </div>
                    <div class="buy">
                        Buy
                    </div>
                </div>
            </div>
        </div>
    
    
    </div>
</div>
{% endblock %}